.divCard{

        display:flex;
        flex-direction: column;
        background-color: antiquewhite;
        width:fit-content;
        justify-self: center;
        align-items: center;
        padding: 1em;
        border-radius: 10px;
        box-shadow: 2px -2px #AA4A44;
        text-shadow: 1px 1px 2px black;
}


.botoncin{
        display: flex;
        align-self: flex-end;
        border: 0px;
        background-color: #AA4A44;      
        border-radius: 5px;
}
.botoncin:hover{
        box-shadow: 2px -2px black;
}
.specieGender{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    font-size: medium;
    width: 90%;

}