.App {
   background-image: url("./Rick s Garage.webp");
   background-size: cover;
   text-align: center;
   
    padding: 25px;
    background-color: pink;
}

.cardDiv{
    
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.divSearch{
    padding-top: 500px;
    padding-bottom: 500px;
    margin-top: 500px;
    margin-bottom: 500px;
    

}